{% extends 'CC/base.html' %}


{% block content %}

<div class="center">
    <h2> LED Control </h2>
    <p> A set of controls for group actions and general ease of clicking </p>

    <b>Commands</b>
    <table>
    <tr>
        <th> Led Strip </th>
        <th> Colour </th>
        <th> Select </th>
    </tr>
    {% for strip in led_peripheral %}
        <tr>
            <td> {{ strip.periph_name }} </td>
            <td><input>Colour</input>   </td>
            <td><intput type="checkbox">Select </td>
        </tr>
    {% endfor %}
    </table>

    <button style="align: right; background-color: black; color: rgb(250, 115, 0)">Go</button>



</div>


{% endblock content %}